In [1]:
import pandas as pd
from acquire import *
from prepare_zillow import *

In [2]:
turn_to_csv()

In [3]:
df = pd.read_csv('zillow_16_17.csv', sep='\t')

/usr/local/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (62) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df = drop_columns(df)

In [5]:
df = unitcnt(df)

In [6]:
df = lat_long_null_values(df)

In [7]:
df.propertylandusedesc.value_counts()

Single Family Residential                     113036
Condominium                                    42146
Planned Unit Development                        4279
Cluster Home                                     691
Mobile Home                                      157
Manufactured, Modular, Prefabricated Homes       105
Residential General                               98
Duplex (2 Units, Any Combination)                 79
Cooperative                                       57
Commercial/Office/Residential Mixed Used          22
Townhouse                                         17
Quadruplex (4 Units, Any Combination)             16
Triplex (3 Units, Any Combination)                10
Store/Office (Mixed Use)                           1
Name: propertylandusedesc, dtype: int64

In [8]:
ndf= df[['propertylandusedesc', 'unitcnt']]

In [9]:
ndf = ndf.dropna()

In [10]:
ndf.groupby(['propertylandusedesc']).count()

                                          unitcnt
propertylandusedesc
Commercial/Office/Residential Mixed Used       16
Condominium                                 24856
Cooperative                                    57
Duplex (2 Units, Any Combination)              47
Mobile Home                                   110
Planned Unit Development                     4125
Residential General                            31
Single Family Residential                   72651
Townhouse                                      17
Triplex (3 Units, Any Combination)              6

In [22]:
pdf = df[['propertylandusedesc', 'calculatedfinishedsquarefeet','unitcnt']]

In [24]:
pdf.sort_values(['unitcnt'])

              propertylandusedesc  calculatedfinishedsquarefeet  unitcnt
0       Single Family Residential                        1684.0      1.0
112227  Single Family Residential                        1673.0      1.0
112225  Single Family Residential                        1810.0      1.0
112224  Single Family Residential                        1572.0      1.0
112223  Single Family Residential                        2157.0      1.0
112221  Single Family Residential                         360.0      1.0
112220  Single Family Residential                        1261.0      1.0
112219  Single Family Residential                        2883.0      1.0
112218  Single Family Residential                        1248.0      1.0
112217  Single Family Residential                        1947.0      1.0
112228   Planned Unit Development                        1307.0      1.0
112215  Single Family Residential                        3344.0      1.0
112212                Condominium                        2162.0      1.0
112210  Single Family Residential                        2085.0      1.0
112207  Single Family Residential                        2363.0      1.0
112206  Single Family Residential                        1326.0      1.0
112204  Single Family Residential                        2045.0      1.0
112202  Single Family Residential                        2562.0      1.0
112201   Planned Unit Development                        1979.0      1.0
112198  Single Family Residential                        1086.0      1.0
112196  Single Family Residential                        1104.0      1.0
112213  Single Family Residential                        1124.0      1.0
112229   Planned Unit Development                        1307.0      1.0
112230  Single Family Residential                        2489.0      1.0
112234  Single Family Residential                        1530.0      1.0
112265  Single Family Residential                        1432.0      1.0
112262  Single Family Residential                         849.0      1.0
112261                Condominium                         880.0      1.0
112259  Single Family Residential                         913.0      1.0
112257                Cooperative                         660.0      1.0
...                           ...                           ...      ...
167213                Condominium                         812.0      NaN
167235  Single Family Residential                        2504.0      NaN
167250  Single Family Residential                        1054.0      NaN
167252  Single Family Residential                        4534.0      NaN
167261  Single Family Residential                        1872.0      NaN
167274                Condominium                        1220.0      NaN
167280  Single Family Residential                        3476.0      NaN
167283                Condominium                        1164.0      NaN
167298  Single Family Residential                        1677.0      NaN
167314  Single Family Residential                        3454.0      NaN
167323  Single Family Residential                        4045.0      NaN
167338  Single Family Residential                        1358.0      NaN
167344  Single Family Residential                        3542.0      NaN
167371  Single Family Residential                        2026.0      NaN
167373                Condominium                        1321.0      NaN
167381  Single Family Residential                        1789.0      NaN
167385                Condominium                         668.0      NaN
167402                Condominium                        1118.0      NaN
167412                Condominium                        1105.0      NaN
167423                Condominium                        1228.0      NaN
167425  Single Family Residential                        2322.0      NaN
167429                Condominium                        1088.0      NaN
167439  Single Family Residential                        1156.0      NaN
167463  Single Family Residential                        3740.0      NaN
167464                Condominium                        2530.0      NaN
167502  Single Family Residential                        2055.0      NaN
167531  Single Family Residential                        2508.0      NaN
167602  Single Family Residential                         720.0      NaN
167872  Single Family Residential                         892.0      NaN
167885  Single Family Residential                        1612.0      NaN

[160714 rows x 3 columns]

In [27]:
pdf.groupby(['propertylandusedesc']).count()

,calculatedfinishedsquarefeet,unitcnt
propertylandusedesc,,
Cluster Home,691,0
Commercial/Office/Residential Mixed Used,22,16
Condominium,41906,24856
Cooperative,57,57
"Duplex (2 Units, Any Combination)",74,47
"Manufactured, Modular, Prefabricated Homes",98,0
Mobile Home,129,110
Planned Unit Development,4135,4125
"Quadruplex (4 Units, Any Combination)",1,0
Residential General,32,31
Single Family Residential,112680,72651
Store/Office (Mixed Use),1,0
Townhouse,17,17
"Triplex (3 Units, Any Combination)",9,6

In [16]:
pdf = pdf.dropna(subset=['calculatedfinishedsquarefeet'])

In [14]:
df.shape

(160714, 57)

In [17]:
pdf.shape

(159852, 2)