In [1]:
import pandas as pd

In [2]:
import csv

with open('access.log') as file:
    lines = file.read().splitlines()
    lines = [lines[x:x+1] for x in range(0, len(lines), 3)]

    with open('access_log2.csv', 'w+') as csvfile:
        w = csv.writer(csvfile)
        w.writerows(lines)
    
with open ('./access.log') as f:
           contents = f.read()
lines = contents.splitlines()
line = lines[0]
line.split(' ')

['97.105.19.58',
 '-',
 '-',
 '[16/Apr/2019:19:34:42',
 '+0000]',
 '"GET',
 '/api/v1/sales?page=81',
 'HTTP/1.1"',
 '200',
 '512495',
 '"-"',
 '"python-requests/2.21.0"']

In [3]:
df = pd.read_csv('access_log.csv', sep='\t')

In [4]:
with open ('./access.log') as f:
           contents = f.read()
lines = contents.splitlines()
line = lines[0]
lineone = line.split(' ')

In [22]:
test = pd.DataFrame([lineone])

In [23]:
test

,0,1,2,3,4,5,6,7,8,9,10,11
0,97.105.19.58,-,-,[16/Apr/2019:19:34:42,+0000],"""GET",/api/v1/sales?page=81,"HTTP/1.1""",200,512495,"""-""","""python-requests/2.21.0"""

In [25]:
test.columns = ['ip','drop1','drop2', 'date_time','addbackDT', 'get','addbackGET1','addbackGET2','http_status_code','content_length', 'drop3', 'user_agent']

In [26]:
test

,ip,drop1,drop2,date_time,addbackDT,get,addbackGET1,addbackGET2,http_status_code,content_length,drop3,user_agent
0,97.105.19.58,-,-,[16/Apr/2019:19:34:42,+0000],"""GET",/api/v1/sales?page=81,"HTTP/1.1""",200,512495,"""-""","""python-requests/2.21.0"""

In [29]:
test.drop(['drop1', 'drop2', 'drop3'], axis=1, inplace=True)

In [30]:
test

,ip,date_time,addbackDT,get,addbackGET1,addbackGET2,http_status_code,content_length,user_agent
0,97.105.19.58,[16/Apr/2019:19:34:42,+0000],"""GET",/api/v1/sales?page=81,"HTTP/1.1""",200,512495,"""python-requests/2.21.0"""

In [34]:
test.replace(to_replace='"', value='', regex=True)

,ip,date_time,addbackDT,get,addbackGET1,addbackGET2,http_status_code,content_length,user_agent
0,97.105.19.58,[16/Apr/2019:19:34:42,+0000],GET,/api/v1/sales?page=81,HTTP/1.1,200,512495,python-requests/2.21.0

In [38]:
test['date_time_full'] = test['date_time'].map(str) + ' ' + test['addbackDT']

In [39]:
test

,ip,date_time,addbackDT,get,addbackGET1,addbackGET2,http_status_code,content_length,user_agent,date_time_full
0,97.105.19.58,[16/Apr/2019:19:34:42,+0000],"""GET",/api/v1/sales?page=81,"HTTP/1.1""",200,512495,"""python-requests/2.21.0""",[16/Apr/2019:19:34:42 +0000]

In [40]:
test['get_full'] = test['get'].map(str) + ' ' + test['addbackGET1'] + ' ' + test['addbackGET2']

In [41]:
test

,ip,date_time,addbackDT,get,addbackGET1,addbackGET2,http_status_code,content_length,user_agent,date_time_full,get_full
0,97.105.19.58,[16/Apr/2019:19:34:42,+0000],"""GET",/api/v1/sales?page=81,"HTTP/1.1""",200,512495,"""python-requests/2.21.0""",[16/Apr/2019:19:34:42 +0000],"""GET /api/v1/sales?page=81 HTTP/1.1"""

In [42]:
test.columns

Index(['ip', 'date_time', 'addbackDT', 'get', 'addbackGET1', 'addbackGET2',
       'http_status_code', 'content_length', 'user_agent', 'date_time_full',
       'get_full'],
      dtype='object')

In [44]:
test.drop(['date_time', 'addbackDT', 'get', 'addbackGET1', 'addbackGET2',], axis=1, inplace=True)

In [45]:
test

,ip,http_status_code,content_length,user_agent,date_time_full,get_full
0,97.105.19.58,200,512495,"""python-requests/2.21.0""",[16/Apr/2019:19:34:42 +0000],"""GET /api/v1/sales?page=81 HTTP/1.1"""

In [50]:
test = test.reindex(columns=['ip','date_time_full','get_full','http_status_code', 'content_length', 'user_agent'])

In [51]:
test

,ip,date_time_full,get_full,http_status_code,content_length,user_agent
0,97.105.19.58,[16/Apr/2019:19:34:42 +0000],"""GET /api/v1/sales?page=81 HTTP/1.1""",200,512495,"""python-requests/2.21.0"""

In [54]:
test.replace(to_replace='"', value='', regex=True, inplace=True)

In [56]:
test

,ip,date_time_full,get_full,http_status_code,content_length,user_agent
0,97.105.19.58,[16/Apr/2019:19:34:42 +0000],GET /api/v1/sales?page=81 HTTP/1.1,200,512495,python-requests/2.21.0